# Ignore ISO images and large installers
*.iso
*.img

# Ignore secrets and credentials
secrets/
*.key
*.crt
*.pem

# Ignore local virtualization configs
*.vbox
*.vbox-prev
*.vmx
*.nvram

# Ignore Terraform local state and vars
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform/
.terraform.lock.hcl

# Ignore system files
.DS_Store
Thumbs.db
