proxmox_api_url          = "https://proxmox.lab.local:8006/api2/json"
proxmox_api_user         = "terraform@pve"
proxmox_api_password     = "CHANGE_ME"
proxmox_tls_insecure     = true
proxmox_node             = "pve01"
primary_storage          = "local-lvm"
management_network_bridge = "vmbr0"
production_network_bridge = "vmbr1"
attack_network_bridge     = "vmbr2"
management_vlan          = 10
production_vlan          = 20
attack_vlan              = 30
kali_template            = "tpl-kali"
ubuntu_template          = "tpl-ubuntu"
windows_template         = "tpl-windows"
red_team_pool            = "RedTeam"
blue_team_pool           = "BlueTeam"
core_services_pool       = "CoreServices"
